<div class="col-lg-4">
    
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Sosyal Medya</h4>
        </div>
        <div class="bg-white border border-top-0 p-3">
            <a target="_blank" href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                <span class="font-weight-medium">Facebook</span>
            </a>
            <a target="_blank" href="https://twitter.com/AtolyesiHaber" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                <span class="font-weight-medium">Twitter</span>
            </a>
            <a target="_blank" href="https://open.spotify.com/show/44EpbxaNdTJT8uYooF6cSj" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #81b71a;">
                <i class="fab fa-spotify text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                <span class="font-weight-medium">Spotify</span>
            </a>
            <a target="_blank" href="https://www.instagram.com/haberatolyesi1/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                <span class="font-weight-medium">Instagram</span>
            </a>
            <a target="_blank" href="https://www.youtube.com/%40haberatolyesipodcast5812" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                <span class="font-weight-medium">Youtube</span>
            </a>
            <a target="_blank"  href="https://podcasts.apple.com/us/podcast/haber-at%C3%B6lyesi-podcast/id1611061379" class="d-block w-100 text-white text-decoration-none" style="background: #c1c1c1;">
                <i class="fab fa-apple text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                <span class="font-weight-medium">Apple Podcast</span>
            </a>
        </div>
    </div>

</div>
